<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cadastrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cadastrar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input label="Nome" placeholder="Insira o nome" [(ngModel)]="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Email" placeholder="Insira o email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Telefone" type="number" placeholder="Insira o telefone" [(ngModel)]="telefone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select label="Genero" placeholder="Selecione" [(ngModel)]="genero">
        <ion-select-option value="0">Masculino</ion-select-option>
        <ion-select-option value="1">Feminino</ion-select-option>
        <ion-select-option value="2">Prefiro não dizer</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" (click) = "cadastrar()">Cadastrar</ion-button>
  </ion-list>
