<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulo">
      Detalhar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-toggle (ionChange)="habilitar()">Habilitar Edição</ion-toggle>
  </ion-item>
    <ion-item>
      <ion-input label="Nome" placeholder="Insira o nome" [(ngModel)]="nome" disabled="{{ edicao }}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Email" type="string" placeholder="Insira o email" [(ngModel)]="email" disabled="{{ edicao }}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Telefone" type="number" placeholder="Insira o telefone" [(ngModel)]="telefone" disabled="{{ edicao }}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select label="Gênero" placeholder="Selecione o gênero" [(ngModel)]="genero" disabled="{{ edicao }}">
        <ion-select-option value="0">Masculino</ion-select-option>
        <ion-select-option value="1">Feminino</ion-select-option>
        <ion-select-option value="2">Prefiro não dizer</ion-select-option>
      </ion-select>
    </ion-item>

    <img src="{{this.contato.downloadURL}}">
    <ion-item>
      <ion-button size="default" color="success" shape="round">
        <input type="file" (change)="uploadFile($event.target)"/>
      </ion-button>
    </ion-item>
    <ion-button expand="full" (click) = "editar()" disabled="{{ edicao }}">Salvar</ion-button>
    <ion-button expand="full" (click) = "excluir()" color="danger" disabled="{{ edicao }}">Excluir</ion-button>

</ion-content>